:root{
    --primary-color: #e0c521;
}

.btn{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 5px;
    width: 120px;
    margin: 0 5px;
}

.btn.add{
    background-color: var(--primary-color);
    color: white;
}

.btn.remove{
    background-color: rgb(255, 115, 0);
    color: white;
}

.btn.checkout{
    background-color: seagreen;
    color: white;
}

.disabled{
    opacity: 0.5;
} 