/* .App {
    background-color: rgb(4, 1, 15);
} */
.heading{
    display: flex;
    text-align: center;
    justify-content: center;
}
.hadding{
    color: #000;
    text-align: center;
    padding: 20px;
}

.cards__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}